/*
	Copyright: Deux Huit Huit 2014
	License: MIT, see the LICENCE file
*/

/**
 * CSS for entry/reverse relationship field
 */

/*.field-entry_relationship > label,
.field-reverse_relationship > label {
	position: static;
	margin-bottom: 1rem!important;
}

.field-entry_relationship {
	position: relative; padding-bottom: 0.8rem;
}

.field.field-entry_relationship > .frame,
.field.field-reverse_relationship > .frame {
	margin: 1rem 0;
	background: none;
}

.field.field-entry_relationship > .frame ul,
.field.field-entry_relationship > .frame ol,
.field.field-reverse_relationship > .frame ul,
.field.field-reverse_relationship > .frame ol {
	margin: 0;
}

.field.field-entry_relationship > .frame .frame-header {
	transition: background 0.2s;
}

.field.field-entry_relationship > .frame .ordering .frame-header {
	background: #2f77eb;
}

.field.field-entry_relationship > .frame .ordering * {
	color: #fff;
}

.field.field-entry_relationship > .frame:not(.no-header):not(.empty); {
	border-top: 0;
}

.field.field-entry_relationship > .frame .frame-header.no-content {
	border-bottom: none;
}

.field.field-entry_relationship fieldset.single,
.field.field-reverse_relationship fieldset.single {
	text-align: right;
}

.field.field-entry_relationship fieldset.single > button,
.field.field-reverse_relationship fieldset.single > button {
	margin-right: 0px;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship fieldset.single > div,
.field.field-reverse_relationship fieldset.single > div {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	min-width: 250px;
}

.field.field-entry_relationship fieldset.single > div > div,
.field.field-reverse_relationship fieldset.single > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.field.field-entry_relationship fieldset.single > div > button,
.field.field-reverse_relationship fieldset.single > div > button {
	margin: 0 0 0 1rem;
}

.field.field-reverse_relationship fieldset.single label {
	margin-bottom: 0!important;
}

.field.field-entry_relationship .destructor a,
.field.field-reverse_relationship .destructor a {
	color: #aeaeae;
	display: inline-block;
	padding: 0 5px;
	border-bottom: none;
}

.field.field-entry_relationship .destructor a:hover {
	color: #3B3D40;
}

.field.field-entry_relationship .destructor a.edit:hover {
	color: #282828;
}

.field.field-entry_relationship .destructor a.unlink:hover,
.field.field-entry_relationship .destructor a.delete:hover,
.field.field-reverse_relationship .destructor a.unlink:hover {
	color: #e90a20;
}

.field.field-entry_relationship .content pre {
	max-height: 300px;
	overflow:auto;
}
.field.field-entry_relationship .content pre code {
	white-space: pre-wrap;
}

.field.field-entry_relationship .sections {
	width: auto;
	margin: 0 0 0 1rem!important;
}

.field.field-entry_relationship select.sections {
	min-width: 200px;
	margin-left: 1rem;
}

.field.field-entry_relationship span.sections-selection {
	margin-left: 1rem;
}

.field.field-entry_relationship input.search {
	width: calc(100% - 1rem);
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship fieldset.single > div.search {
	display: inline-flex;
	position: relative;
	max-width: 250px;
	min-width: 200px;
}

.field.field-entry_relationship .suggestions {
	width: auto;
	text-align: left;
	left: 1rem;
	right: 0;
	top: 2.5rem;
}*/

.field.field-entry_relationship {
	/*--primary-field-background-color: var(--color-accent-lighter);*/
}

[id="primary"] {
	/*scroll-behavior: smooth;*/
}

.field.field-entry_relationship>.frame,
.field.field-entry_relationship>.frame>ul,
.field.field-entry_relationship>.frame>ul>li {
	background-color: inherit;
	border-color: inherit;
}



.field.field-entry_relationship>label>span {
	/*font-weight: 400;*/
	z-index: 2;
	position: relative;
	color: var(--standard-input-color);
}

.field.field-entry_relationship li {
	margin: 0;
	width: auto;
	transition: margin 120ms cubic-bezier(0.77, 0, 0.175, 1);
}

.field.field-entry_relationship li.ctn-is-shown {
	border-style: solid;
	border-width: 1px;
}

html:not(.entry_relationship) .field.field-entry_relationship ul.ctn-is-shown>[id="entry-relationship-ctn"] {
	/*position: relative;*/
	/*z-index: 1;*/
	margin-left: calc(-1 * var(--standard-outer-rhythm));
	margin-right: calc(-1 * var(--standard-outer-rhythm));
}

.field.field-entry_relationship .ctn-is-shown~* {
	position: initial;
}

.field.field-entry_relationship li.ctn-is-loaded .frame-header {
	pointer-events: none;
	padding: 0;
	/*background-color: var(--color-clear);*/
	z-index: 1;
	display: block;
}

.field.field-entry_relationship li.ctn-is-loaded .frame-header>* {
	padding: var(--standard-inner-rhythm);
}

.field.field-entry_relationship li.ctn-is-loaded .frame-header>*:first-child {
	margin-bottom: -100%;
	min-height: calc(var(--standard-inner-rhythm) * 2 + 2.1em);
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.field.field-entry_relationship li.ctn-is-shown .destructor {
	opacity: 0;
	pointer-events: none;
}

.field.field-entry_relationship .ctn-is-shown:after {
	/*content: "";*/
	position: absolute;
	pointer-events: none;
	top: -2px;
	right: -2px;
	bottom: -2px;
	left: -2px;
	border: 4px solid var(--color-accent-light);
	border-radius: var(--radius-small);
	z-index: 1;
}

.field.field-entry_relationship .ctn-is-shown:before {
	/*content: "";*/
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--frontframe-background-color);
	opacity: 0;
	pointer-events: none;
	mix-blend-mode: exclusion;
	transition: opacity 100ms ease-in;
}

.field.field-entry_relationship .ctn-is-shown.ctn-is-loaded:before {
	opacity: .1;
	
}

.field.field-entry_relationship label {
	height: auto;
	margin-top: var(--standard-inner-rhythm);
	margin-bottom: var(--standard-inner-rhythm);
}

.field.field-entry_relationship label>span {
	top: auto;
}

.field-entry_relationship .frame {
	--frame-border-radius: var(--radius-small);
	--frame-background-color: var(--standard-field-background-color);
	/*margin: var(--standard-inner-rhythm) calc(var(--standard-inner-rhythm) / 2);*/
}

.field-entry_relationship .frame>ul {
	margin: 0;
	/*border-top: 1px dashed var(--color-ui);*/
	/*border-bottom: 1px dashed var(--color-ui);*/
}

.field-entry_relationship .frame>ul>li+li {
	border-top: 1px dashed var(--color-ui);
}

.field-entry_relationship .frame .frame-header {
	padding: var(--standard-inner-rhythm);
}


.field-entry_relationship>footer {
	display: flex;
	align-items: baseline;
	/*background-color: var(--color-accent-lighter);*/
	border-radius: inherit;
}

.field-entry_relationship>footer>fieldset {
	display: contents;
}

.field-entry_relationship>footer section {
	display: inherit;
	align-items: inherit;
	white-space: nowrap;
}

.field-entry_relationship>footer>fieldset>* {
	flex-shrink: 0;
}


/**
 * CSS for entry relationship field in tab group
 */
/*.column.secondary .field.field-entry_relationship .single > div > div,
.tab-group:nth-child(n + 2) .field.field-entry_relationship .single > div > div {
	justify-content: flex-end;
	margin-bottom: 1rem;
	width: 100%;
}

.column.secondary .field.field-entry_relationship .frame-header,
.tab-group:nth-child(n + 2) .field.field-entry_relationship .frame-header {
	flex-direction: column;
	align-items: flex-end;
}

.column.secondary .field.field-entry_relationship .frame-header h4,
.tab-group:nth-child(n + 2) .field.field-entry_relationship .frame-header h4 {
	display: block;
	text-align: right;
}
*/

/**
 * CSS for entry relationship field iframe
 */
#entry-relationship-ctn {
	/*overflow: hidden;*/
	/*position: fixed;*/
	/*z-index: 10000;*/
	/*top: 0;*/
	/*left: 0;*/
	/*bottom: 0;*/
	/*right: 0;*/
	pointer-events: none;
	background-color: var(--color-clear);
	/*position: relative;*/
	/*z-index: 1;*/
}

#entry-relationship-ctn.show {
	pointer-events: all;
}

#entry-relationship-ctn > .iframe {
	transition: opacity 100ms ease-out;
	/*box-sizing: border-box;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*background-color: #fff;*/
	width: 100%;
	/*height: 100%;*/
	opacity: 0;
}

#entry-relationship-ctn.show > .iframe {
	opacity: 1;
	position: relative;
}

#entry-relationship-ctn iframe {
	display: block;
	width: inherit;
	transition: height 200ms ease-out;
	height: 0;
	opacity: 1;
	max-height: 70vh;
}

#entry-relationship-ctn.show .iframe:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--standard-field-background-color);
	opacity: 1;
	transition: opacity 100ms ease-in;
}

#entry-relationship-ctn.show .iframe.loaded:after {
	opacity: 0;
	pointer-events: none;
}

#entry-relationship-ctn.show iframe {
	height: 0px;
}

li>#entry-relationship-ctn .iframe.loaded iframe {
	/*height: var(--spacing-broader);*/
	/*margin-top: calc(-1 * var(--standard-inner-rhythm) * 2 - 1.2em);*/
}

/**
 * CSS for entry relationship field page customization
 */

/*html.no-scroll {
	overflow: hidden;
}*/

/*body.entry_relationship {
	padding-left: 0;
}

body.entry_relationship #contents .actions > *:nth-child(n + 2),
body.entry_relationship .notifier {
	display: none;
}
*/

html.entry_relationship {
	--backframe-background-color: var(--color-clear);
	--frontframe-background-color: var(--color-clear);
	--standard-field-max-width: 100%;
	--radius-current: 0;
	--standard-outer-rhythm: 0;
	
	font-size: 62.5%;

}


html.entry_relationship body {
	display: flex;
	flex-direction: column;
}

html.entry_relationship body:after {
	content: "";
	position: fixed;
	top: calc(var(--standard-inner-rhythm) * 2 + 2.1em);
	pointer-events: none;
	right: 0;
	bottom: 0;
	left: 0;
	box-shadow: inset 0px 0px 2px 1px var(--color-main-lighter),
					inset 0px 0px 10px 0px var(--color-main-lighter);
}

html:lang(en).entry_relationship body[data-page="new"] [id="controls"]:before {
	content: "New Entry";
}

html:lang(en).entry_relationship body[data-page="new"] [id="controls"]:before {
	content: "Nouvelle entrée";
}

html:lang(en).entry_relationship body[data-page="new"] [id="controls"]:before {
	margin-right: auto;
	font-weight: 740;
	color: var(--color-accent);
}

html.entry_relationship [id="controls"] {
	order: -1;
	border-top: 0;
	border-bottom: 1px solid var(--color-ui);
	padding: calc(var(--standard-inner-rhythm) / 2) 0;
	margin: 0;
	position: sticky;
	top: 0;
	justify-content: flex-end;
}

html.entry_relationship [id="contents"]>form>* {
	flex-shrink: 0;
}

html.entry_relationship button[name="action[save]"] {
	margin-right: var(--spacing-micro);
}

html.entry_relationship button[name="action[save]"]:after {
	/*left: 100%;*/
	/*right: auto;*/
	/*margin-right: auto;*/
	/*margin-left: var(--spacing-micro);*/

}

html.entry_relationship button[name="action[close]"]:after {
	content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='19.9px' height='19.9px' viewBox='0 0 19.9 19.9'%3E%3Cpath fill='currentColor' d='M1,19.9c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4L18.2,0.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L1.7,19.6C1.5,19.8,1.3,19.9,1,19.9z'/%3E%3Cpath fill='currentColor' d='M18.9,19.9c-0.3,0-0.5-0.1-0.7-0.3L0.3,1.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l17.9,17.9c0.4,0.4,0.4,1,0,1.4C19.4,19.8,19.2,19.9,18.9,19.9z'/%3E%3C/svg%3E");
}

html.entry_relationship button[name="action[close]"]:hover:after {
	filter: invert(.9);
}


html.entry_relationship #header,
html.entry_relationship #nav,
html.entry_relationship #breadcrumbs,
html.entry_relationship #footer,
html.entry_relationship #context,
html.entry_relationship button[name="action[delete]"],
html.entry_relationship .actions .modal,
html.entry_relationship .actions .drawer,
html.entry_relationship .actions .apply {
	display: none;
}

/*html.entry_relationship .notifier {
	display: none !important;
}*/

html.entry_relationship {
	scrollbar-color: transparent transparent;
	scrollbar-width: 0px;
}

html.entry_relationship::-webkit-scrollbar {
	background-color: transparent;
	height: 0px;
	width: 0px;
}

html.entry_relationship:hover {
	scrollbar-color: var(--scrollbar-thumb-background-color) transparent;

}

html.entry_relationship::-webkit-scrollbar-thumb {
	/*background-color: var(--scrollbar-thumb-background-color);*/
	/*border-radius: var(--scrollbar-thumb-border-radius);*/
}