/*
	Copyright: Deux Huit Huit 2014
	License: MIT, see the LICENCE file
*/

:root {
	--er-field-header-height: calc(var(--spacing-thin) + var(--standard-inner-rhythm) * 2);
	--er-frame-security-spacing: var(--spacing-broadest);
	--er-frame-secondary-panel-width: calc(100vw - var(--spacing-broader));
}

.field-entry_relationship {
	--standard-field-hover-color: var(--standard-label-color);
}

.field-entry_relationship .frame {
	--standard-frame-border-radius: var(--radius-small);
	--standard-frame-background-color: var(--standard-field-background-color);
}

/* FIELD --------*/
	/* Structural base styles --------*/
		.field.field-entry_relationship .frame li {
			margin: 0;
			width: auto;
		}

		.field.field-entry_relationship .frame-header .destructor {
			width: 2em;
			flex-shrink: 0;
			white-space: nowrap;
			text-align: right;
			display: inline-flex;
			justify-content: flex-end;
			margin-left: 0;
			cursor: initial;
			margin-top: var(--spacing-nano);
			margin-bottom: var(--spacing-nano);
		}

		.field.field-entry_relationship .frame-header .destructor:after {
			content: "+";
			padding: var(--spacing-micro);
			display: inline-flex;
			align-items: center;
		}

		.field.field-entry_relationship .frame-header .destructor a:not(:hover) {
			color: var(--standard-label-color);
		}

		.field.field-entry_relationship .frame-header .destructor>a {
			margin: 0;
			padding: 0 var(--spacing-micro);
			background-color: var(--standard-field-background-color);
			transition-duration: var(--duration-shortest);
			display: inline-flex;
			align-items: center;
		}

		.field.field-entry_relationship .frame-header .destructor>a:last-child {
			margin-right: calc(-1 * var(--spacing-micro));
		}

		.field.field-entry_relationship .frame-header .destructor:not(:hover)>a {
			opacity: 0;
			pointer-events: none;
			transition-duration: var(--duration);
			transition-delay: var(--duration);
		}

		.field.field-entry_relationship>label {
			height: auto;
			margin-top: var(--standard-inner-rhythm);
			margin-bottom: var(--standard-inner-rhythm);
		}

		.field.field-entry_relationship>label>span {
			top: auto;
			display: flex;
			align-items: center;
		}

		.field.field-entry_relationship>label>span:before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='25px' width='25px' fill='%237D93B3' version='1.1' x='0px' y='0px' viewBox='0 0 96 96' style='enable-background:new 0 0 96 96;' xml:space='preserve'%3E%3Cpath d='M74.2,35.78h-5.88c-2.62-6.66-9.1-11.4-16.67-11.4H21.8c-9.88,0-17.92,8.04-17.92,17.92c0,9.88,8.04,17.92,17.92,17.92h5.88 c2.62,6.66,9.1,11.4,16.67,11.4H74.2c9.88,0,17.92-8.04,17.92-17.92C92.12,43.82,84.08,35.78,74.2,35.78z M26.43,53.7 c0,0.18,0.02,0.35,0.03,0.52H21.8c-6.57,0-11.92-5.35-11.92-11.92c0-6.57,5.35-11.92,11.92-11.92h29.84c4.17,0,7.83,2.15,9.97,5.4 H44.35C34.47,35.78,26.43,43.82,26.43,53.7z M32.43,53.7c0-6.57,5.35-11.92,11.92-11.92h19.18c0.01,0.17,0.03,0.35,0.03,0.52 c0,6.57-5.35,11.92-11.92,11.92H32.46C32.45,54.05,32.43,53.88,32.43,53.7z M74.2,65.62H44.35c-4.17,0-7.83-2.15-9.97-5.4h17.26 c9.88,0,17.92-8.04,17.92-17.92c0-0.18-0.02-0.35-0.03-0.52h4.66c6.57,0,11.92,5.35,11.92,11.92C86.12,60.27,80.77,65.62,74.2,65.62 z'/%3E%3C/svg%3E");
			margin-right: var(--spacing-micro);
			height: 0;
			display: flex;
			align-items: center;
			width: 30px;
		}


		.field-entry_relationship .frame>ul {
			margin: 0;
			box-sizing: border-box;
			width: 100%;
		}

		.field-entry_relationship .frame>ul>li {
			border-style: dashed;
			border-color: var(--standard-field-border-color);
			box-sizing: inherit;
			width: inherit;
		}

		.field-entry_relationship .frame>ul>li:first-child {
			border-top-width: 1px;
		}

		.field-entry_relationship .frame>ul>li:last-child {
			border-bottom-width: 1px;
		}

		.field-entry_relationship .frame>ul>li+li {
			border-top-width: 1px;
		}

		.field-entry_relationship li>:first-child {
			position: relative;
			min-height: var(--er-field-header-height);
			box-sizing: border-box;
			display: flex;
			padding: 0 var(--standard-inner-rhythm);
			align-items: stretch;
		}

		.field-entry_relationship li>:first-child strong {
			padding: var(--standard-inner-rhythm) 0;
			display: flex;
		}

		.field-entry_relationship .orderable li>.frame-header {
			cursor: move;
			cursor: -webkit-grab;
			cursor: -moz-grab;
			cursor: grab;
		}

		.field-entry_relationship .orderable li.ordering>.frame-header {
			cursor: -webkit-grabbing;
			cursor: -moz-grabbing;
			cursor: grabbing;
		}

		.field-entry_relationship li>:first-child span {
			text-align: right;
			font-size: var(--text-smaller);
			margin-left: auto;
			pointer-events: none;
			align-self: center;
		}

		.field-entry_relationship .frame .frame-header>:first-child {
			flex-grow: 1;
			display: flex;
			display: contents;
		}
		.field-entry_relationship :not(.is-loaded)>.frame-header>:first-child>:first-child {
			margin-right: auto;
		}

		.field-entry_relationship .frame-header strong {
			cursor: s-resize;
		}

		.field-entry_relationship .frame-header strong:before {
			content: "•";
			font-size: var(--text-big);
			text-align: center;
			width: 15px;
			height: 15px;
			flex-shrink: 0;
			vertical-align: baseline;
			margin-right: var(--spacing-nano);
			position: relative;
			display: inline-flex;
			align-items: center;
			top: .1em;
			pointer-events: none;
		}

		.field-entry_relationship .is-loaded>.frame-header strong:before {
			display: none;
		}

		.field-entry_relationship :not(.is-loaded)>.frame-header strong:hover:before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='15px' width='15px' fill='%23000000' viewBox='0 0 24 24' version='1.1' x='0px' y='0px'%3E%3Ctitle%3Eedit%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cpath d='M9.25735931,20.3994949 L9.87867966,19.7781746 L4.22182541,14.1213203 L16.9497475,1.39339828 C18.1213203,0.221825407 20.0208153,0.221825407 21.1923882,1.39339828 L22.6066017,2.80761184 C23.7781746,3.97918472 23.7781746,5.87867966 22.6066017,7.05025253 L9.25735931,20.3994949 Z M8.45752148,21.1854435 C7.91718787,21.6447027 7.22908814,21.8994949 6.51471863,21.8994949 L2.60050506,21.8994949 C2.32436269,21.8994949 2.10050506,21.6756373 2.10050506,21.3994949 L2.10050506,17.4852814 C2.10050506,16.7709119 2.35529734,16.0828121 2.81455646,15.5424785 L8.45752148,21.1854435 Z' fill='%230D6EFF'/%3E%3C/g%3E%3C/svg%3E");
			top: .05em;
			left: -2px;
		}
		.field-entry_relationship :not(.is-loaded)>.frame-header:hover strong:not(:hover):before {
			content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' height='20px' width='20px' fill='%230D6EFF' version='1.1' x='0px' y='0px' viewBox='0 0 100 100' style='enable-background:new 0 0 100 100;' xml:space='preserve'%3E%3Cg%3E%3Cpolygon points='30,70 50,90 70,70 60,70 60,30 70,30 50,10 30,30 40,30 40,70 '/%3E%3C/g%3E%3C/svg%3E");
			left: -7px;
		}

		.field-entry_relationship>footer:not(:hover):not(:focus-within) input,
		.field-entry_relationship>footer:not(:hover):not(:focus-within) select {
			opacity: .5;
		}

		.field-entry_relationship>footer {
			--standard-field-font-size: var(--text-smaller);
			--standard-label-font-size: var(--text-smaller);

			display: flex;
			align-items: baseline;
			flex-wrap: wrap;
			border-radius: inherit;
			transition: opacity 120ms 120ms ease-in;
			position: sticky;
			bottom: 0;
			background-color: inherit;
			border-top: 1px solid var(--color-ui);
			margin-top: -1px;
			box-shadow: var(--shadow-up-smaller);
		}

		.field-entry_relationship:hover>footer,
		.field-entry_relationship>footer:focus-within {
			z-index: 2;
		}

		.field-entry_relationship>footer input,
		.field-entry_relationship>footer select,
		.field-entry_relationship>footer .search {
			flex-grow: 1;
			width: 0;
			flex-basis: 0;
			min-height: var(--spacing-broadest);
		}

		.field-entry_relationship>footer .search {
			display: flex;
			position: relative;
		}

		.field-entry_relationship>footer .search .suggestions {
			top: 100%;
			width: 100%;
		}

		.field-entry_relationship>footer label {
			margin: 0 var(--standard-inner-rhythm);
		}

		.field-entry_relationship>footer select {
			border-radius: inherit;
			border-bottom-right-radius: 0;
			max-width: max-content;
		}

		.field-entry_relationship>footer legend {
			display: none;
		}

		.field-entry_relationship footer * {
			margin: 0;
		}

		.field-entry_relationship>footer button {
			margin: 0 calc(var(--standard-inner-rhythm) / 2);
			flex-shrink: 0;
			align-self: center;
		}

		.field-entry_relationship>footer :not(.search)+button:first-of-type {
			margin-left: auto;
		}

		.field-entry_relationship>footer>fieldset {
			display: contents;
			border-radius: inherit;
		}

		.field-entry_relationship>footer section {
			display: inherit;
			align-items: inherit;
			white-space: nowrap;
			border-radius: inherit;
		}

		.field-entry_relationship>footer>fieldset>* {
			flex-shrink: 0;
		}


	/* Graphical base styles --------*/
		.field.field-entry_relationship:focus-within {
			background-color: var(--standard-field-background-color);
		}

		.field-entry_relationship input,
		.field-entry_relationship select,
		.field-entry_relationship textarea {
			font-weight: 540;
			align-self: stretch;
		}

		.field.field-entry_relationship .frame-header {
			background-color: transparent;
		}

	/* Entry list is EMPTY specific styles --------*/
		.field-entry_relationship .frame>ul:empty {
			border: 1px dashed var(--color-accent-light);
			margin: var(--standard-inner-rhythm);
			width: auto;
			border-radius: var(--radius-small);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.field-entry_relationship .frame.empty>ul {
			min-height: calc(var(--er-field-header-height) - var(--standard-inner-rhythm));
		}

		.field-entry_relationship .frame.empty+footer {
			opacity: 1;
		}

		.field-entry_relationship:hover .frame.empty+footer {
			background-color: var(--color-accent-lighter);
		}

	/* Entry list is EMPTY while LOADING specific styles --------*/
		.field-entry_relationship .frame:not(.empty)>ul:empty {
			height: calc(var(--er-field-header-height) * var(--er-field-entries-number));
			box-shadow: inset var(--shadow-small);
		}

		.field-entry_relationship .frame:not(.empty)>ul:empty:before {
			content: url("data:image/svg+xml,%3Csvg version='1.1' id='L2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 102' width='30' height='30' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23D9E9FF' stroke-width='6' stroke-miterlimit='10' cx='50' cy='50' r='48'/%3E%3Cline fill='none' stroke-linecap='round' stroke='%23D9E9FF' stroke-width='6' stroke-miterlimit='10' x1='50' y1='50' x2='85' y2='50.5'%3E%3CanimateTransform attributeName='transform' dur='2s' type='rotate' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/line%3E%3Cline fill='none' stroke-linecap='round' stroke='%23D9E9FF' stroke-width='6' stroke-miterlimit='10' x1='50' y1='50' x2='49.5' y2='74'%3E%3CanimateTransform attributeName='transform' dur='15s' type='rotate' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/line%3E%3C/svg%3E");
			position: sticky;
			top: var(--spacing-larger);
			bottom: var(--spacing-larger);
		}

	/* Entry container SHOWN specific styles --------*/
		.field.field-entry_relationship .frame li.is-shown {
			color: var(--color-main-dark);
			z-index: 3;
			transition-duration: 200ms;
		}

		.field.field-entry_relationship .is-shown~* {
			position: initial;
		}

		.field.field-entry_relationship .frame li.is-shown .frame-header {
			pointer-events: none;
			z-index: 4;
		}

		.field.field-entry_relationship .is-shown .frame-header span {
			display: none;
		}

		.field.field-entry_relationship .frame li.is-shown .destructor {
			opacity: 0;
			pointer-events: none;
		}


	/* Interactive base styles --------*/
		.field.field-entry_relationship .frame li:not(.is-shown):not(.ordering):hover {
			box-shadow: inset 0px 0px 1px 4px var(--color-ui);
			border-color: transparent;
			z-index: 1;
			position: relative;
		}


	/* Entry container SHOWN BUT NOT LOADED specific styles --------*/
		.field.field-entry_relationship .frame li.is-shown:not(.is-loaded) {
			cursor: wait;
		}
		.field.field-entry_relationship .frame li.is-shown:not(.is-loaded):not(.is-saving) .frame-header:after {
			content: url("data:image/svg+xml,%3Csvg version='1.1' id='L4' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' xml:space='preserve'%3E%3Ccircle fill='%230D6EFF' stroke='none' cx='6' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.1'/%3E%3C/circle%3E%3Ccircle fill='%230D6EFF' stroke='none' cx='26' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.2'/%3E%3C/circle%3E%3Ccircle fill='%230D6EFF' stroke='none' cx='46' cy='50' r='6'%3E%3Canimate attributeName='opacity' dur='1s' values='0;1;0' repeatCount='indefinite' begin='0.3'/%3E%3C/circle%3E%3C/svg%3E");
			width: 60px;
			height: 60px;
			display: block;
			position: absolute;
			z-index: 1;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

	/* Entry container LOADED specific styles --------*/
		.field.field-entry_relationship .is-loaded {
			position: static;
		}

		.field.field-entry_relationship .frame li.is-loaded {
			border-color: transparent;
		}

		.field.field-entry_relationship .frame li.is-loaded+li {
			border-color: transparent;
		}

		.field.field-entry_relationship .is-loaded>.frame-header {
			text-indent: calc(var(--standard-inner-rhythm) * 2 + 20px);
			padding-top: var(--er-frame-security-spacing);
		}

		.field.field-entry_relationship .is-loaded>.frame-header strong {
			max-width: calc(100% - 100px);
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			display: block;
			position: relative;
			top: .05em;
		}

		.field.field-entry_relationship .is-loaded [id="entry-relationship-ctn"].show {
			border-top: 1px solid var(--color-main-light);
			border-bottom: 1px solid var(--color-main-light);
			margin-top: calc(-1 * var(--er-field-header-height) - var(--er-frame-security-spacing));
		}

		.field.field-entry_relationship .is-loaded.is-index>.frame-header {
			opacity: 0;
		}

/* ENTRY CONTAINER --------*/
	/* Base styles --------*/
		[id="entry-relationship-ctn"] {
			pointer-events: none;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		li>[id="entry-relationship-ctn"] {
			margin-top: calc(-1 * var(--er-field-header-height));
			min-height: var(--er-field-header-height);
		}

		[id="entry-relationship-ctn"] > .iframe {
			transition: opacity 100ms ease-out;
			width: min-content;
			opacity: 0;
		}

		[id="entry-relationship-ctn"] iframe {
			display: block;
			width: 100vw;
			max-width: initial;
			transition: height 0ms cubic-bezier(0.77, 0, 0.175, 1);
			height: 0;
			opacity: 1;
			margin-left: -2px;
			background-color: var(--frontframe-background-color);
		}

	/* Container is SHOWN specific styles --------*/
		[id="entry-relationship-ctn"].show {
			pointer-events: all;
			position: relative;
			z-index: 3;
		}

		[id="entry-relationship-ctn"].show iframe {
			height: 0px;
			position: relative;
		}

		[id="entry-relationship-ctn"].show > .iframe {
			opacity: 1;
			position: relative;
		}

	/* Container is SHOWN and LOADED but iframe is NOT LOADED (waiting for save) */
		.field.field-entry_relationship .is-shown.is-saving iframe {
			height: 0 !important;
		}

		.field.field-entry_relationship .frame li.is-shown.is-saving .frame-header:after {
			animation-name: colorflash;
			animation-duration: 400ms;
			animation-direction: alternate;
			animation-iteration-count: infinite;
			position: absolute;
			color: var(--color-accent);
			font-size: var(--text-smaller);
			font-weight: 600;
			z-index: 1;
			right: var(--standard-inner-rhythm);
			top: 50%;
			transform: translateY(-50%);
		}

		html:lang(en) .field.field-entry_relationship .frame li.is-shown.is-saving .frame-header:after {
			content: "Saving...";
		}

		html:lang(fr) .field.field-entry_relationship .frame li.is-shown.is-saving .frame-header:after {
			content: "Sauvegarde...";
		}


/* IFRAME PAGE --------*/
	/* Base styles */
		html.entry_relationship {
			--standard-hover-row-background-color: var(--color-clear);
		}

		html.entry_relationship body {
			min-height: max-content;
			max-height: max-content;
			height: max-content;
			background-color: var(--frontframe-background-color);
			padding-left: var(--spacing-pico);
			padding-right: var(--spacing-pico);
			padding-bottom: var(--er-field-header-height);
		}

		html.entry_relationship body[id="publish"].page-single [id="primary"] {
			overflow: visible;
			padding: 0;
			margin: 0;
		}

		html.entry_relationship body[id="publish"].page-single .secondary-panel-switch~[id="primary"] {
			margin-left: var(--spacing-thinner);
		}

		html.entry_relationship [id="contents"]>form>* {
			flex-shrink: 0;
		}

	/* Pseudo titles for new entries and index pages --------*/
		html:lang(en).entry_relationship body[data-page="new"] [id="controls"]:before {
			content: "New Entry";
		}

		html:lang(fr).entry_relationship body[data-page="new"] [id="controls"]:before {
			content: "Nouvelle entrée";
		}


		html:lang(en).entry_relationship body[data-page="index"] [id="controls"]:before {
			content: "Choose an entry to be added";
		}

		html:lang(fr).entry_relationship body[data-page="index"] [id="controls"]:before {
			content: "Choisissez une entrée à ajouter";
		}

		html.entry_relationship body[data-page="new"] [id="controls"]:before,
		html.entry_relationship body[data-page="index"] [id="controls"]:before {
			margin-right: auto;
		}

	/* Context container alterations --------*/
		html.entry_relationship [id="context"] {
			background-color: transparent;
			justify-content: space-between;
			padding: 0;
			border: 0;
			margin-bottom: 0;
			z-index: initial;
		}
		
		html.entry_relationship [id="context"] ul.tabs {
			top: auto;
			left: auto;
			position: relative;
		}

		html.entry_relationship [id="context"] ul.publishtabs {
			right: 0;
		}

		html.entry_relationship [id="context"] ul.page {
			position: absolute;
			right: 0;
			bottom: 100%;
			margin-bottom: calc(var(--standard-inner-rhythm) + var(--spacing-micro));
			z-index: 13;
		}

	/* Notifier container alterations --------*/
		html.entry_relationship .notifier {
			position: fixed;
			top: var(--spacing-micro);
			left: 0;
			right: 0;
			margin: auto;
			width: 100%;
		}

		html.entry_relationship .notifier .notice {
			border-color: transparent;
			background-color: transparent;
		}
	
	/* Controls container alterations --------*/
		html.entry_relationship [id="controls"] {
			order: -1;
			border: 0;
			padding: calc(var(--standard-inner-rhythm) / 2);
			margin: 0;
			position: sticky;
			top: 0;
			margin-top: var(--er-frame-security-spacing);
			height: var(--er-field-header-height);
			margin-bottom: var(--standard-inner-rhythm);
			box-sizing: border-box;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			background-color: transparent;
			max-width: var(--standard-field-max-width);
			width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		html.entry_relationship [id="controls"] a,
		html.entry_relationship [id="controls"] button {
			margin: 0;
		}

	/* Hide unwanted controls and buttons */
		html.entry_relationship button[name="action[save-duplicate]"] {
			display: none;
		}

	/* Save button positioning --------*/
		html.entry_relationship button[name="action[save]"] {
			margin-right: var(--spacing-micro);
			color: inherit;
			order: 2;
			margin-bottom: 0;

		}

		html.entry_relationship button[name="action[save]"]:after {
			right: 0;
			top: 100%;
			margin-top: var(--spacing-pico);
			margin-left: var(--spacing-pico);
		}

	/* Close button --------*/
		html.entry_relationship button[name="action[close]"] {
			color: inherit;
			order: -1;
			width: 20px;
			height: 20px;
		}

		html.entry_relationship button[name="action[close]"]:before {
			content: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='19.9px' height='19.9px' viewBox='0 0 19.9 19.9'%3E%3Cpath fill='%23405980' d='M1,19.9c-0.3,0-0.5-0.1-0.7-0.3c-0.4-0.4-0.4-1,0-1.4L18.2,0.3c0.4-0.4,1-0.4,1.4,0s0.4,1,0,1.4L1.7,19.6C1.5,19.8,1.3,19.9,1,19.9z'/%3E%3Cpath fill='%23405980' d='M18.9,19.9c-0.3,0-0.5-0.1-0.7-0.3L0.3,1.7c-0.4-0.4-0.4-1,0-1.4s1-0.4,1.4,0l17.9,17.9c0.4,0.4,0.4,1,0,1.4C19.4,19.8,19.2,19.9,18.9,19.9z'/%3E%3C/svg%3E");
			transform: scale(.6);
		}

		html.entry_relationship button[name="action[close]"]:hover {
			background-color: var(--color-main-lighter);
		}
		
		html:lang(en).entry_relationship button[name="action[close]"]:after {
			content: "Close without saving";
		}

		html:lang(fr).entry_relationship button[name="action[close]"]:after {
			content: "Fermer sans sauvegarde";
		}

		html.entry_relationship button[name="action[close]"]:not(:hover):after {
			opacity: 0;
		}
		
		html.entry_relationship button[name="action[close]"]:after {
			position: absolute;
			top: 100%;
			margin-top: var(--spacing-pico);
			margin-left: var(--spacing-pico);
			left: 0;
			font-size: var(--text-smaller);
			white-space: nowrap;
			padding: var(--spacing-nano);
			background-color: inherit;
			color: inherit;
			font-weight: 500;
			border-radius: var(--radius-small);
			box-shadow: var(--shadow-small);
			pointer-events: none;
			color: var(--color-main);
			background-color: var(--color-main-lighter);
		}

	html.entry_relationship #header,
	html.entry_relationship #nav,
	html.entry_relationship #breadcrumbs,
	html.entry_relationship #footer,
	html.entry_relationship #ctrl_k,
	html.entry_relationship button[name="action[delete]"],
	html.entry_relationship .actions .modal,
	html.entry_relationship .actions .drawer,
	html.entry_relationship .actions .apply,
	html.entry_relationship [id="primary"] .actions,
	html.entry_relationship .nav-panel-switch,
	html.entry_relationship .context-panel-switch,
	html.entry_relationship [id="save-and"] {
		display: none;
	}

	html.entry_relationship {
		scrollbar-color: transparent transparent;
		scrollbar-width: none;
		overflow: visible;
	}

	html.entry_relationship::-webkit-scrollbar {
		background-color: transparent;
		height: 0px;
		width: 0px;
	}

	html.entry_relationship:hover {
		scrollbar-color: var(--scrollbar-thumb-background-color) transparent;
	}


	html.entry_relationship [id="primary"] {
		margin-top: 0;
	}

	html.entry_relationship [id="primary"]:before,
	html.entry_relationship [id="primary"]:after {
		content: none !important;
	}

	html.entry_relationship table[role="directory"] td:first-child {
		font-size: var(--text-current);
	}

	html.entry_relationship .page-index {
		--backframe-background-color: var(--color-main-lighter);
	}

	html.entry_relationship .page-index [id="primary"] td,
	html.entry_relationship .page-index [id="primary"] th {
		padding-right: calc(var(--standard-inner-rhythm) * 2);
	}

	html.entry_relationship .page-index [id="primary"] td:first-of-type,
	html.entry_relationship .page-index [id="primary"] th:first-of-type {
		padding-left: var(--standard-inner-rhythm);
	}

/* Secondary panel layout management options --------*/
	/* Right-side panel model --------*/
		html.entry_relationship body {
			grid-template-areas: 
				"notifier notifier notifier"
				"controls controls controls"
				"context context context"
				"primary secondary-panel-switch secondary";
			grid-template-rows: 
				auto
				auto
				auto
				minmax(0, 1fr);
			grid-template-columns: minmax(0, var(--standard-field-max-width)) minmax(0, auto) minmax(0, auto);
			max-width: max-content;
			margin: auto;

		}

		html.entry_relationship input.secondary-panel-switch:checked~[id="secondary"] {
			width: var(--dimension-tinier);
			max-height: max-content;
			display: flex;
			flex-direction: column;
			opacity: 1;
			align-self: start;
			border: none;
			border-radius: var(--field-stack-border-radius);
			margin-left: var(--standard-inner-rhythm);
			border: 1px solid var(--color-ui);
		}

		html.entry_relationship input.context-panel-switch~[id="context"] {
			min-height: auto;
			height: auto;
		}


		html.entry_relationship input.secondary-panel-switch {
			display: flex;
			margin-left: var(--spacing-micro);
			grid-area: secondary-panel-switch;
		}

		html.entry_relationship input.secondary-panel-switch:not(:checked)~[id="secondary"] {
			width: 0;
			display: none;
		}

	/* Stacking fields model --------*/
		/*html.entry_relationship body {
			display: flex;
			flex-direction: column;
		}

		html.entry_relationship input.secondary-panel-switch {
			display: none;
		}

		html.entry_relationship input.secondary-panel-switch~[id="secondary"] {
			margin-top: var(--standard-outer-rhythm);
			border-radius: var(--radius-current);
			border: 1px solid var(--standard-field-border-color);
			width: 100%;
			max-width: var(--standard-field-max-width);
			height: auto;
			margin-left: auto;
			margin-right: auto;
			display: block;
			box-sizing: border-box;
		}*/

/* Specific Publish tab styles --------*/
	
	/* Span whole content height only */
	html.entry_relationship [id="primary"] .tab-group {
		min-height: max-content;
	}

	html.entry_relationship [id="primary"] .tab-group+.tab-group {
		border-top: 0;
		margin-top: calc(var(--standard-inner-rhythm) * 2);
	}

/* Not allowed styles --------*/

	/* Smoother positioning of active entry on top of screen --------*/
	html.entry-is-active [id="primary"] {
		scroll-behavior: smooth;
	}


	/* Preventing user interaction on page --------*/
	html.not-allowed * {
		cursor: not-allowed !important;
	}

	html.not-allowed {
		user-select: none;
	}

	html.not-allowed .field {
		--standard-input-color: var(--color-main-lighter);
		--standard-label-color: var(--color-main-lighter);
	}

	/* Dim styles for disabled signaling --------*/
	html.not-allowed input:not([type="checkbox"]),
	html.not-allowed select,
	html.not-allowed textarea,
	html.not-allowed button,
	html.not-allowed a,
	html.not-allowed strong,
	html.not-allowed li,
	html.not-allowed span,
	html.not-allowed [id="nav"] li:not(.active)>* {
		color: var(--color-main-lighter);
		background-color: transparent;
	}

	html.not-allowed input,
	html.not-allowed select,
	html.not-allowed textarea,
	html.not-allowed button,
	html.not-allowed a,
	html.not-allowed strong,
	html.not-allowed li,
	html.not-allowed span,
	html.not-allowed label {
		pointer-events: none !important;
	}

	html.not-allowed button {
	}

	/* Reestablish style contrast and interactivity on shown element --------*/
	html.not-allowed.entry-is-active .is-shown .frame-header {
		color: var(--color-main);
	}

	html.not-allowed.entry-is-active .is-shown .frame-header * {
		color: inherit;
	}

	html.not-allowed.entry-is-active .is-shown {
		user-select: all;
		pointer-events: all;
	}

	/* Loading animation --------*/
	@keyframes colorflash {
		from {
			color: transparent;
		}

		to {
			color: var(--color-main);
		}
	}
