/*
	Copyright: Deux Huit Huit 2014
	License: MIT, see the LICENCE file
*/

/**
 * CSS for entry/reverse relationship field
 */

/*.field-entry_relationship > label,
.field-reverse_relationship > label {
	position: static;
	margin-bottom: 1rem!important;
}

.field-entry_relationship {
	position: relative; padding-bottom: 0.8rem;
}

.field.field-entry_relationship > .frame,
.field.field-reverse_relationship > .frame {
	margin: 1rem 0;
	background: none;
}

.field.field-entry_relationship > .frame ul,
.field.field-entry_relationship > .frame ol,
.field.field-reverse_relationship > .frame ul,
.field.field-reverse_relationship > .frame ol {
	margin: 0;
}

.field.field-entry_relationship > .frame .frame-header {
	transition: background 0.2s;
}

.field.field-entry_relationship > .frame .ordering .frame-header {
	background: #2f77eb;
}

.field.field-entry_relationship > .frame .ordering * {
	color: #fff;
}

.field.field-entry_relationship > .frame:not(.no-header):not(.empty); {
	border-top: 0;
}

.field.field-entry_relationship > .frame .frame-header.no-content {
	border-bottom: none;
}

.field.field-entry_relationship fieldset.single,
.field.field-reverse_relationship fieldset.single {
	text-align: right;
}

.field.field-entry_relationship fieldset.single > button,
.field.field-reverse_relationship fieldset.single > button {
	margin-right: 0px;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship fieldset.single > div,
.field.field-reverse_relationship fieldset.single > div {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	min-width: 250px;
}

.field.field-entry_relationship fieldset.single > div > div,
.field.field-reverse_relationship fieldset.single > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.field.field-entry_relationship fieldset.single > div > button,
.field.field-reverse_relationship fieldset.single > div > button {
	margin: 0 0 0 1rem;
}

.field.field-reverse_relationship fieldset.single label {
	margin-bottom: 0!important;
}

.field.field-entry_relationship .destructor a,
.field.field-reverse_relationship .destructor a {
	color: #aeaeae;
	display: inline-block;
	padding: 0 5px;
	border-bottom: none;
}

.field.field-entry_relationship .destructor a:hover {
	color: #3B3D40;
}

.field.field-entry_relationship .destructor a.edit:hover {
	color: #282828;
}

.field.field-entry_relationship .destructor a.unlink:hover,
.field.field-entry_relationship .destructor a.delete:hover,
.field.field-reverse_relationship .destructor a.unlink:hover {
	color: #e90a20;
}

.field.field-entry_relationship .content pre {
	max-height: 300px;
	overflow:auto;
}
.field.field-entry_relationship .content pre code {
	white-space: pre-wrap;
}

.field.field-entry_relationship .sections {
	width: auto;
	margin: 0 0 0 1rem!important;
}

.field.field-entry_relationship select.sections {
	min-width: 200px;
	margin-left: 1rem;
}

.field.field-entry_relationship span.sections-selection {
	margin-left: 1rem;
}

.field.field-entry_relationship input.search {
	width: calc(100% - 1rem);
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship fieldset.single > div.search {
	display: inline-flex;
	position: relative;
	max-width: 250px;
	min-width: 200px;
}

.field.field-entry_relationship .suggestions {
	width: auto;
	text-align: left;
	left: 1rem;
	right: 0;
	top: 2.5rem;
}*/

.field.field-entry_relationship .ctn-is-shown {
	z-index: 1;
}

.field.field-entry_relationship .ctn-is-shown .frame-header {
	background-color: var(--standard-field-background-color);
}

.field.field-entry_relationship .ctn-is-shown:before {
	content: "";
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-main-lightest);
	opacity: .5;
}

.field.field-entry_relationship label {
	height: auto;
	margin-top: var(--standard-inner-rhythm);
	margin-bottom: var(--standard-inner-rhythm);
}

.field.field-entry_relationship label>span {
	top: auto;
}

.field-entry_relationship .frame {
	--frame-background-color: transparent;
}

.field-entry_relationship .frame>ul {
	margin: 0 1px;
}

.field-entry_relationship .frame .frame-header {
	padding: var(--standard-inner-rhythm);
}


/**
 * CSS for entry relationship field in tab group
 */
/*.column.secondary .field.field-entry_relationship .single > div > div,
.tab-group:nth-child(n + 2) .field.field-entry_relationship .single > div > div {
	justify-content: flex-end;
	margin-bottom: 1rem;
	width: 100%;
}

.column.secondary .field.field-entry_relationship .frame-header,
.tab-group:nth-child(n + 2) .field.field-entry_relationship .frame-header {
	flex-direction: column;
	align-items: flex-end;
}

.column.secondary .field.field-entry_relationship .frame-header h4,
.tab-group:nth-child(n + 2) .field.field-entry_relationship .frame-header h4 {
	display: block;
	text-align: right;
}
*/

/**
 * CSS for entry relationship field iframe
 */
#entry-relationship-ctn {
	/*overflow: hidden;*/
	/*position: fixed;*/
	/*z-index: 10000;*/
	/*top: 0;*/
	/*left: 0;*/
	/*bottom: 0;*/
	/*right: 0;*/
	pointer-events: none;
	background-color: var(--color-main-lighter);
}

#entry-relationship-ctn.show {
	pointer-events: all;
}

#entry-relationship-ctn > .iframe {
	transition: opacity 100ms ease-out;
	/*box-sizing: border-box;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*background-color: #fff;*/
	width: 100%;
	/*height: 100%;*/
	opacity: 0;
}

#entry-relationship-ctn.show > .iframe {
	opacity: 1;
	position: relative;
}

#entry-relationship-ctn iframe {
	display: block;
	width: inherit;
	transition: height 200ms ease-out;
	height: 0;
	opacity: 1;
	/*max-height: var(--dimension-smallest);*/
}

#entry-relationship-ctn.show .iframe:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: var(--color-main-lighter);
	opacity: 1;
	transition: opacity 100ms ease-in;
}

#entry-relationship-ctn.show .iframe.loaded:after {
	opacity: 0;
	pointer-events: none;
}

#entry-relationship-ctn.show iframe {
	height: var(--spacing-broad);
}

/**
 * CSS for entry relationship field page customization
 */

/*html.no-scroll {
	overflow: hidden;
}*/

/*body.entry_relationship {
	padding-left: 0;
}

body.entry_relationship #contents .actions > *:nth-child(n + 2),
body.entry_relationship .notifier {
	display: none;
}
*/

html.entry_relationship {
	/*overflow-y: auto;*/
	--scrollbar-background-color: var(--color-main-lighter);
	--backframe-background-color: var(--color-main-lighter);
	--frontframe-background-color: var(--color-main-lighter);
	--standard-outer-rhythm: var(--standard-inner-rhythm);
	--standard-field-max-width: 100%;
}

html.entry_relationship body {
	display: flex;
	flex-direction: column;
}

html.entry_relationship [id="controls"] {
	order: -1;
}

html.entry_relationship button[name="action[save]"]:after {
	left: 100%;
	right: auto;
	margin-right: auto;
	margin-left: var(--spacing-micro);

}

html.entry_relationship #header,
html.entry_relationship #nav,
html.entry_relationship #breadcrumbs,
html.entry_relationship #footer,
html.entry_relationship #context,
html.entry_relationship button[name="action[delete]"],
html.entry_relationship .actions .modal,
html.entry_relationship .actions [href="#drawer-section-associations"] {
	display: none;
}

html.entry_relationship .notifier {
	display: none !important;
}

html.entry_relationship {
	scrollbar-color: transparent transparent;
	scrollbar-width: var(--scrollbar-width);
}

html.entry_relationship::-webkit-scrollbar {
	background-color: var(--scrollbar-background-color);
	height: var(--scrollbar-height);
	width: var(--scrollbar-width);
}

html.entry_relationship:hover {
	scrollbar-color: var(--scrollbar-thumb-background-color) transparent;

}

html.entry_relationship:hover::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb-background-color);
	border-radius: var(--scrollbar-thumb-border-radius);
}